USE [MyOffice_ACPD]
GO
/****** Object:  Table [dbo].[MyOffice_ACPD]    Script Date: 2026/3/16 下午 07:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyOffice_ACPD](
	[ACPD_SID] [char](20) NOT NULL,
	[ACPD_Cname] [nvarchar](60) NULL,
	[ACPD_Ename] [nvarchar](40) NULL,
	[ACPD_Sname] [nvarchar](40) NULL,
	[ACPD_Email] [nvarchar](60) NULL,
	[ACPD_Status] [tinyint] NULL,
	[ACPD_Stop] [bit] NULL,
	[ACPD_StopMemo] [nvarchar](60) NULL,
	[ACPD_LoginID] [nvarchar](30) NULL,
	[ACPD_LoginPWD] [nvarchar](60) NULL,
	[ACPD_Memo] [nvarchar](600) NULL,
	[ACPD_NowDateTime] [datetime] NULL,
	[ACPD_NowID] [nvarchar](20) NULL,
	[ACPD_UPDDateTime] [datetime] NULL,
	[ACPD_UPDID] [nvarchar](20) NULL,
 CONSTRAINT [PK_MyOffice_ACPD] PRIMARY KEY CLUSTERED 
(
	[ACPD_SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MyOffice_ACPD] ([ACPD_SID], [ACPD_Cname], [ACPD_Ename], [ACPD_Sname], [ACPD_Email], [ACPD_Status], [ACPD_Stop], [ACPD_StopMemo], [ACPD_LoginID], [ACPD_LoginPWD], [ACPD_Memo], [ACPD_NowDateTime], [ACPD_NowID], [ACPD_UPDDateTime], [ACPD_UPDID]) VALUES (N'A0000000000000000001', N'測試人員', N'Test User', NULL, N'test@test.com', 0, 0, NULL, NULL, NULL, NULL, CAST(N'2026-03-16T19:37:41.370' AS DateTime), NULL, CAST(N'2026-03-16T19:37:41.370' AS DateTime), NULL)
INSERT [dbo].[MyOffice_ACPD] ([ACPD_SID], [ACPD_Cname], [ACPD_Ename], [ACPD_Sname], [ACPD_Email], [ACPD_Status], [ACPD_Stop], [ACPD_StopMemo], [ACPD_LoginID], [ACPD_LoginPWD], [ACPD_Memo], [ACPD_NowDateTime], [ACPD_NowID], [ACPD_UPDDateTime], [ACPD_UPDID]) VALUES (N'A0001001000000000001', N'王小明', N'Wang Ming', N'小明', N'wangming@example.com', 0, 0, NULL, N'wangming', N'Password123!', N'正常狀態的一般用戶', CAST(N'2026-03-16T19:03:58.573' AS DateTime), N'SYSTEM', CAST(N'2026-03-16T19:03:58.573' AS DateTime), N'SYSTEM')
INSERT [dbo].[MyOffice_ACPD] ([ACPD_SID], [ACPD_Cname], [ACPD_Ename], [ACPD_Sname], [ACPD_Email], [ACPD_Status], [ACPD_Stop], [ACPD_StopMemo], [ACPD_LoginID], [ACPD_LoginPWD], [ACPD_Memo], [ACPD_NowDateTime], [ACPD_NowID], [ACPD_UPDDateTime], [ACPD_UPDID]) VALUES (N'A0001001000000000002', N'李美麗', N'Lee Beauty', N'美麗', N'leebeauty@example.com', 1, 0, NULL, N'leebeauty', N'VipPass456!', N'VIP會員，享有進階功能', CAST(N'2026-03-16T19:03:58.573' AS DateTime), N'SYSTEM', CAST(N'2026-03-16T19:03:58.573' AS DateTime), N'SYSTEM')
GO
ALTER TABLE [dbo].[MyOffice_ACPD] ADD  CONSTRAINT [DF_MyOffice_ACPD_acpd_status]  DEFAULT ((0)) FOR [ACPD_Status]
GO
ALTER TABLE [dbo].[MyOffice_ACPD] ADD  CONSTRAINT [DF_MyOffice_ACPD_acpd_stop]  DEFAULT ((0)) FOR [ACPD_Stop]
GO
ALTER TABLE [dbo].[MyOffice_ACPD] ADD  CONSTRAINT [DF_MyOffice_ACPD_acpd_nowdatetime]  DEFAULT (getdate()) FOR [ACPD_NowDateTime]
GO
ALTER TABLE [dbo].[MyOffice_ACPD] ADD  CONSTRAINT [DF_MyOffice_ACPD_acpd_upddatetime]  DEFAULT (getdate()) FOR [ACPD_UPDDateTime]
GO
